@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.7;
  color: #516171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  color: #092032;
}
a {
  color: #092032;
  text-decoration: none;
}
img {
  width: 100%;
}
section {
  padding: 80px 0px;
}
.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* NAVBAR */
.top-nav {
  background-color: #ff4d29;
  padding: 5px 0px;
}
.top-nav p {
  margin-bottom: 0px;
  display: inline-block;
  color: #fff;
  margin-right: 16px;
}
.top-nav i,
.top-nav span {
  vertical-align: middle;
}
.top-nav i {
  margin-top: 3px;
}
.social-link a {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 100%;
  transition: 0.5s;
}
.social-link a:hover {
  background-color: #fff;
  color: #ff4d29;
  transition: 0.5s;
}
.navbar {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  color: #092032;
}
.navbar-brand span {
  color: #ff4d29;
}
.nav-item .home {
  font-weight: 500;
  color: #ff4d29;
}
.nav-item a {
  font-weight: 500;
  color: #000;
}
.nav-item a:hover {
  color: #ff4d29;
}
.btn {
  padding: 9px 24px;
  font-weight: 600;
}
.btn-brand {
  border-color: #ff4d29;
  background-color: #ff4d29;
  color: #fff;
}
.btn-brand:hover {
  background-color: #da4122;
  color: #fff;
}

/* SLIDER SECTION  */
.slide1 {
  background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)),
    url("../img/bg_banner1.jpg");
}
.slide2 {
  background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)),
    url("../img/bg_banner2.jpg");
}
/* OWL CAROUSEL  */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.2) !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #fff !important;
  border-radius: 100px !important;
  margin-top: -30px !important;
  transition: 0.5s;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-prev:hover,
.owl-next:hover {
  background-color: #ff4d29 !important;
  transition: 0.5s;
}
/* THIS IS ABOUT SECTION  */
.info-text {
  display: flex;
  justify-content: center;
}
.info-text img {
  width: 100px;
  margin-right: 25px;
}
/* MILESTONE */
#milestone {
  background: linear-gradient(rgba(255, 77, 41, 0.8), rgba(255, 77, 41, 0.8)),
    url("../img/bg_banner1.jpg");
}
#milestone .display-4 {
  font-weight: 700;
}
/* THIS IS SERVICES  */
.intro {
  margin-bottom: 40px;
}
.intro h6 {
  font-weight: 400 !important;
  color: #ff4d29;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.intro p {
  max-width: 500px;
  margin: auto;
  /* margin-top: auto; */
  margin-top: 16px;
}
.service-box {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 30px;
}
.service-box img {
  width: unset;
}
.service-box h5 {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* PROJECT SLIDER  */

.project {
  position: relative;
  z-index: 1;
}
.project .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 240px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(9, 32, 50, 0),
    rgba(9, 32, 50, 0.8)
  );
}
.project h2,
.project h6 {
  color: #fff;
}
.project h6 {
  font-weight: 400 !important;
}
.project h6::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #ff4d29;
  vertical-align: middle;
  margin-right: 12px;
}
.project .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  padding: 30px;
  margin-left: 50px;
}
